.menu {
    padding-top: 90px;

    .container_menu {
        display: flex;
    }
}

@media (max-width: 1500) {
    .menu {
        .container_menu {
            padding: 90px 50px
        }
    }
}

@media (max-width: 1024) {
    .container_menu {
        padding: 0 50px
    }
}

@media (max-width: 428) {
    .menu {
        padding-top: 0;

        .container_menu {
            padding: 0
        }
    }
}