@import "../../../styles/mixin.scss";

.menu_left {
  .filter {
    overflow: auto;
    z-index: 1;
    .filter_top {
      .title {
        display: flex;
        gap: 30px;

        h5 {
          font-weight: 700;
          font-size: 20px;
        }

        p {
          position: relative;
          cursor: pointer;

          &:hover::after {
            width: 100%;
          }
        }

        p::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 1px;
          background: linear-gradient(to right, #572af8, #572af8);
          transition: width 0.3s;
        }
      }

      .catering {
        display: flex;
        gap: 30px;
        margin: 30px 0;

        h5 {
          font-weight: 700;
          font-size: 20px;
        }

        .catering_title {
          position: relative;
          cursor: pointer;

          &:hover::after {
            width: 100%;
          }
        }

        .catering_title::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0%;
          height: 2px;
          background: linear-gradient(to right, #572af8, #572af8);
          transition: width 0.3s;
        }

        :nth-child(2) {
          color: gray;
          font-weight: 600;
        }
      }

      .button {
        display: flex;

        .button_submit {
          height: 60px;
          width: 135px;
          font-weight: 600;
          border: 1px solid black;
        }

        :nth-child(1) {
          border-radius: 8px 0 0 8px;
          background-color: #572af8;
          border: none;
        }

        :nth-child(2) {
          border-radius: 0 8px 8px 0;
          background-color: transparent;
          color: black;
        }
      }

      .deliver {
        display: flex;
        align-items: center;
        margin: 18px 0 30px 0;

        p {
          margin: 0;
        }

        .dot {
          color: #572af8;
          margin: 0 12px;
          width: 10px;
          height: 10px;
        }

        :nth-child(3) {
          color: #572af8;
        }
      }
    }

    .filter_bottom {
      .rating {
        .collapse_all {
          .collapse_check {
            .rating_item {
              display: flex;
              gap: 5px;

              .rating_label {
                display: flex;
                align-items: center;
                gap: 5px;
              }

              .star {
                display: flex;
                align-items: center;
                gap: 5px;

                .star_item {
                  color: #ffcf54;
                }
              }
            }
          }
        }
      }

      .collapse_all {
        .collapse_title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
          cursor: pointer;

          h5 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin: 0;
          }
        }

        .collapse_check {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 0px 0;
          transition: height 0.6s ease-out;
          overflow: hidden;
          height: 0px;
          font-size: 16px;
        }
      }
    }
  }
}

.menu_left .filter::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  .menu_left.show {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 101;
    animation: openFilter 0.3s forwards;

    .filter {
      max-width: 430px;
      position: absolute;
      padding: 30px;
      border-radius: 12px;
      background-color: white;
      top: 60px;
      height: auto;

      .filter_top {
        .btn_close {  
          border: none;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 20px;
          background-color: transparent;
        }
      }
    }
  }

  .menu_left {
    position: absolute;
    transform: translateX(780px);
  }
}

@media (max-width: 428px) {
  .menu_left.show {
    top: 0;
    width: 350px;
    height: 100%;

    .filter {
      height: 600px;
      .filter_top {
        .btn_close {
          border: none;
          position: absolute;
          right: 0;
          font-size: 20px;
          background-color: transparent;
        }
      }
    }
  }
}

@keyframes slipOpen {
  0% {
    background-size: 0% 1px;
  }

  100% {
    background-size: 100% 1px;
  }
}

@keyframes slipClose {
  0% {
    background-size: 100% 1px;
  }

  100% {
    background-size: 0% 1px;
  }
}

@keyframes openFilter {
  0% {
    transform: translateX(780px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes closeFilter {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(780px);
  }
}
